[Desktop Entry]
Name=Rogue Signal Protocol
GenericName=Roguelike Game
Comment=Coffee break cyberspace stealth roguelike
Exec=rogue-signal-protocol
Icon=info.aforster.roguesignalprotocol
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Keywords=roguelike;cyberpunk;tactical;turn-based;indie;permadeath;stealth;
StartupNotify=true
